@page "/Doctor/{id}/OrderingHours"
@model DrPet.Web.Pages.DoctorOrderingHoursModel
@{
    ViewData["Title"] = "Ordering Hour of doctor page";
}

<h3>Ordering Hours of @Model.Doctor?.Name</h3>
<div class="list-group">
    @foreach(var orderingHour in Model.OrderingHours)
    {
        <a class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@orderingHour.Date.ToShortDateString()</h5>
                <small>@orderingHour.Start.ToString("hh\\:mm") - @orderingHour.End?.ToString("hh\\:mm")</small>
            </div>
            <p class="mb-1">@orderingHour.Comment</p>
        </a>
    }
</div>
@*ToDo: Pagination*@